[Desktop Entry]
Name=Autoconfig
Comment=Add config files for user, update pacman, etc.
Exec=~/autoconfig.sh
Icon=gtk-index
Terminal=false
Type=Application
