[Desktop Entry]
Name=Host Config
Comment=Run only on host system! Removes vbox packages!
Exec=~/Desktop/hostconfig.sh
Icon=gtk-index
Terminal=false
Type=Application
