[Desktop Entry]
Name=Install Arch
Comment=Install Arch
Terminal=false
Exec=sudo lxterminal -e /abif-master/abif
Type=Application
Icon=distributor-logo-archlinux
